
	<div data-role="header" data-backbtn="false">
		<p>&nbsp;&nbsp;&nbsp;Sierra Brasil vs Competitors vs Index</p>
	</div><!-- /header -->
	
	<div data-role="content">
		<ul data-role="listview">
			<%= render :partial => 'tickers/ticker', :collection => @tickers %>
		</ul>
		<%= link_to 'REFRESH VALUES', root_path, 'data-role' => 'button', 'data-theme' => 'b' %>
	</div><!-- /content -->



