
<div data-role="header" data-backbtn="false">
	<h1>Stock Market Quotes</h1>
	<%= link_to 'New', new_ticker_path, :class => 'ui-btn-right', 'data-icon' => 'add' %>
</div><!-- /header -->

<div data-role="content">
	
	<p>Sonae Sierra Brasil vs Competitors vs Index</p>
	
	<ul data-role="listview" data-inset="true">
		<%= render :partial => 'tickers/ticker', :collection => @tickers %>
	</ul>
</div><!-- /content -->

<div data-role="footer">
	<h4>(c) Sonae Sierra 2011</h4>
</div><!-- /footer -->