
<div data-role="header" data-backbtn="false">
	<%= link_to 'Refresh', root_path, 'data-icon' => 'refresh' %>
	<h4>Stock Market Quotes</h4>
	<%= link_to 'New', new_ticker_path, 'data-icon' => 'add' %>
</div><!-- /header -->

<div data-role="content">
	<h2>Sonae Sierra Brasil vs Competitors vs Index</h2>
	<ul data-role="listview" data-inset="true">
		<%= render :partial => 'tickers/ticker', :collection => @tickers %>
	</ul>
</div><!-- /content -->

<div data-role="footer">
	<h4>(c) Sonae Sierra 2011</h4>
</div><!-- /footer -->