
<div data-role="header">
	<h1>Stock Market Quotes</h1>
</div><!-- /header -->

<div data-role="content">
	<ul data-role="listview">
		<%= render :partial => 'tickers/ticker', :collection => @tickers %>
	</ul>
</div><!-- /content -->

<div data-role="footer">
	<h4>(c) Sonae Sierra 2011</h4>
</div><!-- /footer -->