<div data-role="header" data-b>
	<%= link_to 'Home', root_path, 'data-icon' => 'home' %>
	<h1>Company info</h1>
	<%= link_to 'Delete', @ticker, :confirm => 'Are you sure?', :method => :delete, 'data-icon' => 'delete' %>
</div><!-- /header -->

<div data-role="content">
	<%= render 'form' %>
</div><!-- /content -->

<div data-role="footer">
	<h4>(c) Sonae Sierra 2011</h4>
</div><!-- /footer -->
